<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponentVue from "./components/CalComponent.vue";
import HelloWorldEaxmpleVue from "./components/HelloWorldEaxmple.vue";
import HandlingUserInputVue from "./components/HandlingUserInput.vue";
import AttributeBindingsVue from "./components/AttributeBindings.vue";
import ConditionalVue from "./components/Conditionals.vue";
import FormBindingsVue from "./components/FormBindings.vue";
import SimpleComponentVue from "./components/SimpleComponent.vue";
</script>

<template>
  <HandlingUserInputVue />
  <CalComponentVue />
  <HelloWorldEaxmpleVue />
  <AttributeBindingsVue />
  <ConditionalVue />
  <FormBindingsVue />
  <SimpleComponentVue />
</template>

<style></style>
